{% extends "base.html" %}

{%load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
	
{% endblock  %}

{% block content %}

<div class="py-6 px-6">
    <h1 class="mb-4 text-xl">{{ application.title }}</h1>
    <h3 class="mb-4 text-xl">{{ application.phone_number }}</h3>
    <h3 class="mb-4 text-xl">{{ application.full_text}}</h3>
    <h3 class="mb-4 text-xl">{{ application.date }}</h3>
    <h3 class="mb-4 text-xl">{{ application.street }}</h3>
    <h3 class="mb-4 text-xl">{{ application.house }}</h3>
    <h3 class="mb-4 text-xl">{{ application.flat }}</h3>
    <h3 class="mb-4 text-xl">{{ application.materials }}</h3>
    <h3 class="mb-4 text-xl">{{ application.executor }}</h3>
    

{% endblock  %}


{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Аварийно-диспечерская служба 2024</p>
    </div>
</footer>
{% endblock  %} 

