{% extends "main/base.html" %}
{% load static %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таблица данных</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 12px;
            text-align: left;
            border: 1px solid #ddd;
        }
        thead {
            background-color: #4CAF50;
            color: white;
        }
        tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        tbody tr:hover {
            background-color: #d1e7dd;
        }
    </style>
</head>
<body>

<h1>Заявки</h1>

<table>
    <thead>
        <tr>
            <th>Дата, время</th>
            <th>Улица</th>
            <th>Дом</th>
            <th>квартира</th>
            <th>текст заявки</th>
            <th>сроки сполнения</th>
            <th>ФИО заявителя</th>
            <th>телефон</th>
            <th>вид заявки</th>
            <th>тип заявки</th>
            <th>комментарий</th>
            <th>повторная</th>
            <th>дата выполнения</th>
            <th>номер заявки</th>
            <th>упр. компания</th>
            <th>мастер</th>
            <th>тел. мастера</th>
            <th>исполнитель</th>
            <th>тел. исполнителя</th>
            <th>деж. исполнителя</th>
            <th>тел. деж. исполнителя</th>
            <th>добавил заявку</th>
            <th>статус записи</th>
            <th>смс жителю "заявка принята"</th>
            <th>смс мастеру</th>
            <th>смс о назначении исполнителя</th>
            <th>смс исполнителю</th>
            <th>смс деж. исполнителю</th>
            <th>смс о выполнении заявки</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Алексей</td>
            <td>30</td>
            <td>Москва</td>
        </tr>
        <tr>
            <td>Мария</td>
            <td>25</td>
            <td>Санкт-Петербург</td>
        </tr>
        <tr>
            <td>Иван</td>
            <td>28</td>
            <td>Екатеринбург</td>
        </tr>
    </tbody>
</table>

</body>
{% endblock  %}
